<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helloworld.ian.improved" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name=".second"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".third"
            android:label="@string/title_activity_third" >
        </activity>
    </application>

</manifest>
